@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

.teachers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.listUsername {
    text-align: left

}

.listTeachers {
    height: 30px;   
    border-bottom: solid;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
}

.listTypes {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
}

.selectTeachers {
    width: 80px;
}


